Source: ros-noetic-nodelet-core
Section: misc
Priority: optional
Maintainer: Geoffrey Biggs <geoff@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://www.ros.org/wiki/nodelet_core
Standards-Version: 3.9.2

Package: ros-noetic-nodelet-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-nodelet, ros-noetic-nodelet-topic-tools
Description: Nodelet Core Metapackage
